/* Colors */
$main-color: red;

$white: #fff;
$light-gray: #dfdfdf;
$black: #333;

/* Layout */
$content-width: 40%;
$header-spacing: 150px;    /* Space above and below the header section */
$top-line-weight: 6px;     /* Weight of the line at the top of the page */

/* Fonts */
$blog-title-font: 'nevis';
$blog-title-font-size: 2.3em;
$blog-title-letter-spacing: 0.09em;
$blog-title-text-transform: uppercase;

$navi-font: 'Fanwood';
$navi-font-size: 1.1em;
