/* Colors */
$main-color: red;

$white: #fff;
$light-gray: #dfdfdf;
$light-light-gray: #f8f8f8;
$gray: #b0b0b0;
$black: #333;

/* Layout */

/* Width of the content area */
$content-width: 45%;

/* Space above and below the header section */
$header-spacing: 150px; 

/* Weight of the line at the top of the page */
$top-line-weight: 8px;     

/* Space between header links (this will be in ems) */
$navi-link-spacing: 0.8;     

/* Space between the date and the post */
$post-content-top-space: 3em;

/* Space between the post and the author/tags */
$post-content-bottom-space: 2em; 

/* Space between posts in ems */
$space-between-posts: 8;

/* Author tags top and bottom spacing */
$tags-spacing: 2em;

/* Space before and after a <hr> */
$hr-spacing: 4em;

/* Typography */
$body-font: 'sorts-mill-goudy';

$blog-title-font: 'nevis';
$blog-title-font-size: 2.3em;
$blog-title-letter-spacing: 0.02em;
$blog-title-text-transform: uppercase;

$navi-font: 'sorts-mill-goudy';
$navi-font-size: 1.15em;

$post-font: 'sorts-mill-goudy';
$post-font-size: 1.1em;
$post-font-line-height: 1.7em;

$post-first-words-font-variant: small-caps;
$post-first-words-font-size: 1.1em;

$post-title-font-size: 1.6em;
$post-title-font-weight: normal;
$post-title-letter-spacing: 0.04em;
$post-title-font-style: normal;
$post-title-line-height: 1.3em;

$date-font-size: 1em;

$heading-font-size: 1.6em;
$heading-font-weight: normal;
$heading-letter-spacing: none;
$heading-font-style: normal;
$heading-top-spacing: 2em;

$subheading-font-size: 1.1em;
$subheading-font-weight: bold;
$subheading-letter-spacing: none;
$subheading-font-style: normal;
$subheading-top-spacing: 2em;

$code-font-family: "Cousine";
$code-font-size: 0.75em;
$code-padding: 0.4em;
$code-margin: 0.4em;
$code-border-radius: 3px;
$code-border-color: $gray;
$code-background-color: $white;

$code-block-line-height: 1.8em;

$caption-font-size: 0.9em;

$paginator-font-family: 'sorts-mill-goudy';
$paginator-font-size: 1em;
