@import "bourbon/bourbon";
@import "typography";
@import "variables";

body {
	margin: 0;
	padding: 0;
	border-top: $top-line-weight solid $black;
	font-family: "Bookletter";
	color: $black;
	}
	
.wrap {
	margin: 0 auto;
	width: $content-width;
	}

header {
	margin: $header-spacing 0;
	text-align: center;
	
	.title {
		font-family: $blog-title-font;
		font-size: $blog-title-font-size;
		text-transform: $blog-title-text-transform;
		letter-spacing: $blog-title-letter-spacing;
		}
	
	.navi {
		font-family: $navi-font;
		font-size: $navi-font-size;
		
		ul {
			margin: 0.4em 0 0 0;
			padding: 0;
			list-style: none;
			
			li {
				@include inline-block;
				margin: 0;
				padding: 0 ($navi-link-spacing/2 * 1em);
				
				a {
					color: $black;
					text-decoration: none;
					
					&:hover,
					&:active{
						color: $main-color;
						}
					}
				} /* // li */
			} /* // ul */
		}
	}
	
article {
	font-family: $post-font;
	text-align: justify;
	
	a {
		color: $main-color;
		text-decoration: none;
		
		&:hover {
			color: $black;
			}
		}
		
	code {
		font-family: $code-font-family;
		font-size: $code-font-size;
		margin: $code-margin 0;
		padding: $code-padding;
		border: 1px solid $code-border-color;
		@include border-radius($code-border-radius);
		background: $code-background-color;
		}
		
	time {
		font-size: $date-font-size;
		}
		
	h1, h2, h3 {
		a {
			color: $black;
			
			&:hover {
				color: $main-color;
				}
			}
		}
		
	h1 {
		margin-top: $heading-top-spacing;
		font-size: $heading-font-size;
		font-weight: $heading-font-weight;
		letter-spacing: $heading-letter-spacing;
		font-style: $heading-font-style;
		}
		
	h2 {
		margin-top: $subheading-top-spacing;
		font-size: $subheading-font-size;
		font-weight: $subheading-font-weight;
		letter-spacing: $subheading-letter-spacing;
		font-style: $subheading-font-style;
		}
		
	header {
		margin: 0 0 $post-content-top-space 0;
		padding-top: ($space-between-posts/2*1em);
		border-top: 1px solid $light-gray;
		text-align: center;
		
		h1 {
			font-size: $post-title-font-size;		
			font-weight: $post-title-font-weight;
			letter-spacing: $post-title-letter-spacing;
			font-style: $post-title-font-style;
			}
		}
		
	hr {
		margin: $hr-spacing !important;
		border: none;
		height: 1px;
		color: $light-gray;
		background-color: $light-gray;
		}
		
	footer {
		margin: $post-content-bottom-space 0 ($space-between-posts/2*1em) 0;
		}
		
	p {
		font-size: $post-font-size;
		line-height: $post-font-line-height;
		
		.word1,
		.word2,
		.word3 {
			font-variant: small-caps;
			}
		}
		
	pre {
		code {
			line-height: $code-block-line-height;
			}
		}
	}
