---
layout: default
---

<!-- START OF index.html -->
{% assign index = true %}
	{% for page in paginator.posts %}
		{% assign content = page.content %}
		{% include article.html %}
	{% endfor %}
	
<div class="pagination">
	{% if paginator.next_page %}
		<a class="older" href="{{ paginator.next_page }}">Older</a>
	{% endif %}
	
	<span class="total">{{ paginator.page }} of {{ paginator.total_pages }}</span>
	
	{% if paginator.previous_page %}
		<a class="newer" href="{{ paginator.previous_page }}">Newer</a>
	{% endif %}
</div>
<!-- END OF index.html -->
